.container {
    margin: 0 auto;
    width: 100%;
}

.clear {
    clear: left;
}

.advice {
    font-family: 'Raleway', sans-serif;
}

.body-inverted {
    background-color: black;
}

.advice-inverted {
    color: white;
}

.tone {
    float: left;
    width: 192px;
    height: 192px;
}

#first {
    background-color: dodgerblue;
    width: 192px;
    height: 192px;
}

#second {
    background-color: indianred;
    width: 192px;
    height: 192px;
}

.switch {
    float: left;
    width: 128px;
    height: 128px;
}

#lower {
    background-color: dodgerblue;
    width: 128px;
    height: 128px;
}

#equal {
    background-color: seagreen;
    width: 128px;
    height: 128px;
}

#higher {
    background-color: indianred;
    width: 128px;
    height: 128px;
}

.text-large {
    text-align: center;
    vertical-align: middle;
    line-height: 192px;
    font-size: 400%;
}

.text-small {
    text-align: center;
    vertical-align: middle;
    line-height: 128px;
    font-size: 300%;
}